<section class="container header-profile-section">
    <div class="header-profile">
        <div class="user-circle-profile">
            <img class="user-profile-head" src="https://instagram.fmex3-1.fna.fbcdn.net/v/t51.2885-19/s150x150/81751041_510471736235444_392282165125054464_n.jpg?_nc_ht=instagram.fmex3-1.fna.fbcdn.net&_nc_ohc=uyN-a0-fbtwAX8NxiWR&oh=d122c98b84caefc855dc7a5cf8f76d45&oe=5E97BBE8" alt="" srcset="">
        </div>
        <div class="nav-profile">
            <div class="profile-header">
                <p>mario_eoc</p>
                <!-- <button ></button> -->
                <a class="btn-edit" routerLink="/Editar-Perfil">Editar Perfil</a>
                <i class="fab fa-empire"></i>
            </div>
            <div class="profile-header">
                <p><strong>117</strong> publicaciones</p>
                <p><strong>117</strong> seguidores</p>
                <p><strong>117</strong> seguidos</p>
            </div>
            <div class="profile-header">
                <p><strong>Mario Alberto</strong></p>
            </div>
        </div>
    </div>
</section>

<section class="container">
    
    <div class="grid-container">
        <div class="grid-item">
            <img class="img-post" src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-1.2.1&w=1000&q=80" alt="" srcset="">
        </div>
        <div class="grid-item">
            <img class="img-post" src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-1.2.1&w=1000&q=80" alt="" srcset="">
        </div>
        <div class="grid-item">
            <img class="img-post" src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-1.2.1&w=1000&q=80" alt="" srcset="">
        </div>   
        <div class="grid-item">
            <img class="img-post" src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-1.2.1&w=1000&q=80" alt="" srcset="">
        </div>   
        <div class="grid-item">
            <img class="img-post" src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-1.2.1&w=1000&q=80" alt="" srcset="">
        </div>   
        <div class="grid-item">
            <img class="img-post" src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-1.2.1&w=1000&q=80" alt="" srcset="">
        </div>   
        <div class="grid-item">
            <img class="img-post" src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-1.2.1&w=1000&q=80" alt="" srcset="">
        </div>   
    </div>
</section>

<!-- EDN SECTION BODY -->