<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/all.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/edit.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <title>Instagram</title>
</head>
<body>
    <!-- SECTION HEADER -->
    <header class="header">

        <div class="container nav-header">
            <!-- Contenedor Logo -->
            <div class="logo">
                <a href="/">
                    <img class="brand-img" src="./img/logo.png" alt="logo-instagram">
                </a>
            </div>
            <!-- Contenedor Buscar -->
            <div class="search">
                <input type="text" placeholder="Buscar">
            </div>
            <!-- Sub Menu -->
            <div class="menu">
                <nav>
                    <ul class="menu-icons">
                        <li>
                            <a href="">
                                <i class="far fa-compass"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="far fa-heart"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="far fa-user"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>

    </header>
    <!-- END SECTION HEADER -->
    <section class="container border-content">
        <div class="menu-edit-profile">
            <nav>
                <ul>
                    <li>
                        <a href="">Editar Perfil</a>
                    </li>
                </ul>
            </nav>

        </div>
        <div class="edit-profile-form">
            <div class="header-edit-profile-form">
                <img class="user-photo-edit" src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-1.2.1&w=1000&q=80" alt="" srcset="">
                <div class="user-name-option">
                    <p><strong>Mario</strong></p>
                    <p class="btn-change-image">Cambiar Foto de perfil</p >
                </div>
            </div>
            <form action="">
                <div class="form-edit">
                    <label>Nombre</label>
                    <input type="text">
                </div>
                <div class="form-edit">
                    <label>Nombre de usuario</label>
                    <input type="text">
                </div>
                <div class="form-edit">
                    <label>Biografía</label>
                    <textarea name="" id="" cols="30" rows="2"></textarea>
                </div>
                <div class="form-edit">
                    <label>Nombre</label>
                    <input type="email">
                </div>
                <div class="form-edit">
                    <label>Número de teléfono</label>
                    <input type="email">
                </div>
                <button class="save-data">Guardar Datos</button>
            </form>
            
        </div>
    </section>
    <!-- EDN SECTION BODY -->
</body>
<script src="./js/index.js"></script>
</html>